[submodule "sharpy"]
	path = sharpy
	url = http://github.com/imperialcollegelondon/sharpy
[submodule "sharpy-analysis-tools"]
	path = sharpy-analysis-tools
	url = http://github.com/ngoiz/sharpy-analysis-tools
